.about-us__item {
  background-image: url(../img/red-dush.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.about-us__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
}

.about-us__text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about-us__list {
  list-style: none;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}
