.arrows__list {
  list-style: none;
}

.arrows__button {
  border: none;
  width: 25px;
  height: 42px;
}

.arrows__button--left {
  background-image: url(../img/icon-left.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.arrows__button--right {
  background-image: url(../img/icon-right.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
