.bread-crumbs__item {
  background-image: url(../img/icon-right-small.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.bread-crumbs__item:nth-child(1) {
  background-image: url(../img/icon-home.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
