.bread-crumbs {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.bread-crumbs__item a {
  text-decoration: none;
  color: @dark;
}

.bread-crumbs__list {
  list-style: none;
}

.bread-crumbs__item {
  background-image: url(../img/icon-right-small.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.bread-crumbs__item:nth-child(1) {
  background-image: url(../img/icon-home.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
