.button {
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}

.button--red {
  background-color: @danger;
  color: @light;
}

.button--header {
  color: @light;
}

.button--product-buy {
  background-color: #63a63e;
}

.button--product-bookmarks {
  color: #32425c;
  border: 3px solid #63a63e;
}
