.button {
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 11px;
  padding-bottom: 9px;
  text-align: center;
  border-radius: 3px;
}

.button--red {
  background-color: @danger;
  color: @light;
}

.button--red:hover {
  background-color: #ca2c37;
}

.button--red:active {
  background-color: #ba2732;
}

.button--header {
  font-size: 17px;
  color: @light;
  width: 150px;
  padding-top: 10px;
  padding-bottom: 12px;
  text-align: center;
  text-transform: none;
}

.page-header__wrapper--inner .button--header {
  padding-top: 11px;
}

.page-header__wrapper--inner .button--full {
  margin-top: 0;
  padding-top: 13px;
  background-color: #ee3643;
  border-radius: 0;
}

.page-header__wrapper--inner .button--order {
  padding-top: 13px;
}

.button--header:hover {
  background-color: #212a3a;
}

.button--header:hover .button__image--header {
  fill: #ffffff;
}

.button--header:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.3);
}

.button--header:active .button__image--header {
  fill: rgba(255, 255, 255, 0.3);
}

.button--product-buy {
  color: #ffffff;
  background-color: #63a63e;
  border-bottom: 3px solid #367315;
  margin-bottom: 8px;
}

.button--product-buy:hover {
  background-color: #5fbb2d;
}

.button--product-buy:hover .button__image--cart {
  fill: #ffffff;
}

.button--product-buy:active {
  background-color: #518534;
  border-bottom: 3px solid #518534;
}

.button--product-buy,
.button--product-bookmarks {
  width: 135px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 8px;
}

.button--product-bookmarks {
  color: #32425c;
  border: 3px solid #63a63e;
  padding-top: 6px;
}

.button--product-bookmarks:hover {
  border: 3px solid #32425c;
}

.button--product-bookmarks:active {
  color: #c1c6ce;
  border: 3px solid #c1c6ce;
}

.button__link--header,
.button__image--header,
.button--order {
  display: block;
}

.button--bookmarks,
.button--cart {
  display: flex;
  margin-top: 2px;
}

.button--cart .button__image--header {
  margin-right: 16px;
}

.button__image--header {
  margin-left: 18px;
  margin-right: 13px;
  fill: rgba(255, 255, 255, 0.3);
}

.button--order {
  padding-top: 13px;
  background-color: #63a63e;
  border-radius: 0;
}

.button--order:hover {
  background-color: #5fbb2d;
}

.button--order:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.3);
}

.button__image--cart {
  position: absolute;
  top: 54px;
  left: 57px;
  fill: rgba(255, 255, 255, 0.3);
}

.button--submit {
  font-family: "Cuprum", "Arial", sans-serif;
  border: none;
  width: 460px;
}
