.contacts {
  width: 400px;
  padding-left: 117px;
}

.contacts__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 26px;
}

.contacts__text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  width: 183px;
  margin-bottom: 31px;
}

.contacts__map {
  margin-bottom: 38px;
}

.contacts__image {
  background-color: #e2e1dc;
}

.contacts .button--red {
  display: block;
  width: 300px;
}
