.dots__list {
  list-style: none;
}

.dots__button {
  border: none;
  width: 10px;
  height: 10px;
  background-image: url(../img/dot.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.dots__button--current {
  background-image: url(../img/dot-indicator.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}
