.footer-navigation__list {
  list-style: none;
}

.footer-navigation__item a {
  text-decoration: none;
  color: @light;
  line-height: 24px;
}

.footer-navigation__item--secondary a {
  color: #ffd180;
}
