.form {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.form__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
}

.form__checkbox-title {
  font-size: 15px;
  line-height: 20px;
}

.form__list {
  list-style: none;
}

.form__group {
  border: none;
}

.form__button {
  color: @dark;
  font-size: 13px;
  background-color: @light;
  border: 1px solid #e5e5e5;
}

.form__prise {
  background-color: #f7f3ec;
}
