.header-contacts {
  width: 270px;
  padding-top: 46px;
  padding-bottom: 33px;
  box-sizing: border-box;
}

.header-contacts__image {
  margin-right: 36px;
  box-sizing: border-box;
}

.header-contacts__number {
  text-decoration: none;
  font-size: 21px;
  line-height: 21px;
  margin-left: 59px;
  color: @danger;
}

.header-contacts__adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  margin-left: 10px;
  margin-top: 3px;
}

.header-contacts__phone {
  border: 3px solid #ffffff;
  padding-top: 9px;
  padding-left: 12px;
  padding-bottom: 10px;
  background-image: url(../img/sprite-icon-phone.svg);
  background-position: 12px 8px;
  background-repeat: no-repeat;
}

.page-header--inner .header-contacts__phone {
  padding-top: 10px;
}
