.inner-text__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.inner-text__text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}
