.modal {
  font-size: 18px;
}

.modal__button-close {
  background-image: url(../img/icon-close.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.modal__text {
  font-size: 30px;
  line-height: 30px;
}
