.page-footer__wrapper {
  background-color: #293449;
}

.page-footer__wrapper--top {
  background-color: #32425c;
}

.page-footer__contacts {
  color: @light;
  font-size: 18px;
  line-height: 24px;
}

.page-footer__contacts a {
  text-decoration: none;
  color: @light;
}

.page-footer__copyright {
  font-size: 16px;
  line-height: 18px;
  color: @light;
}

.page-footer__mail-box,
.page-footer__developer {
  font-size: 16px;
  line-height: 18px;
  color: @light;
}

.page-footer__email {
  color: #ffd180;
}
