.page-footer,
.page-footer__wrapper {
  min-width: 1200px;
}

.page-footer__wrapper {
  padding: 0 130px;
  box-sizing: border-box;
  background-color: #293449;
}

.page-footer__content-wrapper {
  margin: 0 auto;
  width: 940px;
  display: flex;
}

.page-footer__wrapper--bottom p {
  margin: 0;
  padding: 0;
}

.page-footer__wrapper--bottom {
  padding-top: 35px;
  padding-bottom: 28px;
}

.page-footer__wrapper--top {
  background-color: #32425c;
  padding-bottom: 52px;
}

.page-footer__half-content-wrapper {
  display: flex;
  flex-direction: column;
}

.footer-navigation {
  display: flex;
  margin: 0;
  padding: 0;
}

.page-footer__contacts {
  color: @light;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.page-footer__contacts a {
  text-decoration: none;
  color: @light;
}

.page-footer__copyright {
  font-size: 16px;
  line-height: 18px;
  color: @light;
}

.page-footer__mail-box,
.page-footer__developer {
  font-size: 16px;
  line-height: 18px;
  color: @light;
}

.page-footer__email {
  color: #ffd180;
}
