.page-header {
  min-width: 1200px;
  display: flex;
  flex-direction: column;
}

.page-header__wrapper {
  min-width: 1200px;
  padding-left: 120px;
  padding-right: 120px;
  box-sizing: border-box;
}

.page-header__middle-wrapper {
  min-width: 960px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.page-header__wrapper--top {
  background-color: #293449;
  min-height: 42px;
}

.page-header__wrapper--top .page-header__content-wrapper {
  display: flex;
}

.page-header__wrapper--bottom {
  background-color: #f3f7f8;
  padding-bottom: 59px;
}

.page-header__wrapper--bottom .page-header__content-wrapper {
  display: flex;
  flex-direction: column;
}

.page-header__content-wrapper {
  width: 940px;
  margin: 0 auto;
  position: relative;
}
