.pagination {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.pagination__item a {
  text-decoration: none;
  color: @dark;
}

.pagination__list {
  list-style: none;
  display: flex;
}
