.popular__top {
  background-color: #f9f5f0;
}

.popular__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
  margin-left: 28px;
  margin-top: 31px;
  margin-bottom: 29px;
}

.popular--brands .popular__title {
  margin-left: 23px;
}

.popular__list {
  margin: 0;
  padding: 0;
  width: 940px;
  box-sizing: border-box;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.popular--products {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.popular__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 21.5px;
}

.popular--products .button--red,
.popular--brands .button--red {
  width: 253px;
  margin-right: 25px;
}

.popular__button {
  margin-top: 26px;
  margin-bottom: 26px;
}

.popular--brands .popular__button {
  padding-top: 10px;
  padding-bottom: 10px;
}

.popular--brands {
  padding-bottom: 65px;
}
