.promo {
  color: @light;
}

.promo__title {
  font-size: 24px;
  line-height: 30px;
}

.promo--materials {
  background-color: #ffbf47;
  background-image: url(../img/new-flag.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.promo--tools {
  background-color: #3bbce3;
}

.promo--equipment {
  background-color: #dc91d8;
}

.promo--sale {
  background-color: #8ed78f;
}

.promo--delivery {
  background-color: #ffc047;
}

.promo__button {
  font-size: 14px;
  line-height: 18px;
  color: @light;
  background-color: rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  text-decoration: none;
}
