.search {
  margin: 0;
  padding: 0;
  margin-left: 220px;
}

.search__field {
  width: 220px;
  background-color: #293449;
  padding-left: 49px;
  padding-top: 12px;
  padding-bottom: 11px;
  color: @light;
  border: 0;
  outline: none;
  background-image: url(../img/sprite-icon-search.svg);
  background-position: 18px 12px;
  background-repeat: no-repeat;
}

.search__field::placeholder {
  color: @light;
  opacity: 1;
}

.search__field:focus::placeholder {
  color: #000000;
  opacity: 1;
}

.search__field::-moz-placeholder {
  color: @light;
  opacity: 1;
}

.search__field:focus::-moz-placeholder {
  color: #000000;
}

.search__field:hover {
  background-color: #212a3a;
  background-image: url(../img/sprite-icon-search-hover.svg);
}

.search__field:active {
  background-color: #293449;
  background-image: url(../img/sprite-icon-search.svg);
}

.search__field:focus {
  background-color: #ffffff;
  color: #000000;
  background-image: url(../img/sprite-icon-search-active.svg);
}
