.services__item--delivery {
  background-image: url(../img/lorry.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.services__item--guarantee {
  background-image: url(../img/reward.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.services__item--credit {
  background-image: url(../img/money.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}
