.services {
  width: 940px;
  margin: 0 auto;
  padding-top: 67px;
  padding-bottom: 102px;
  display: flex;
  flex-direction: column;
}

.services__top {
  padding-right: 540px;
}

.services__bottom {
  display: flex;
}

.services__item--delivery {
  background-image: url(../img/lorry.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.services__item--guarantee {
  background-image: url(../img/reward.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.services__item--credit {
  background-image: url(../img/money.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.services__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.services__text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services__subtitle {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
}

.services__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.services__button {
  font-size: 21px;
  line-height: 30px;
  color: @light;
  background-color: #32425c;
  border: none;
}

.services__button--current {
  color: #32425c;
  background-color: @light;
}
