.slider__item--drills {
  background-image: url(../img/slider-drill.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.slider__item--punchers {
  background-image: url(../img/slider-punch.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
