.slider {
  position: relative;
}

.slider__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider__wrapper {
  padding: 24px;
  padding-right: 20px;
  padding-bottom: 22px;
  display: flex;
  flex-direction: column;
}

.slider__item--drills {
  width: 620px;
  background-color: #201512;
  background-image: url(../img/slider-drill.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.slider__item--punchers {
  width: 620px;
  background-color: #756453;
  background-image: url(../img/slider-punch.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.slider__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: @light;
  text-transform: uppercase;
}

.slider__subtitle {
  font-size: 18px;
  line-height: 24px;
  color: @light;
  display: block;
  margin-bottom: 122px;
}

.slider__button {
  width: 196px;
  padding-left: 5px;
  box-sizing: border-box;
}
