.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social__list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 310px;
}

.social__item {
  position: relative;
}

.social__link {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #212a3a;
  border-radius: 50%;
  padding: 8px;
  box-sizing: border-box;
  margin-right: 5px;
}

.social__link:hover,
.social__link:focus,
.social__link:active {
  background-color: #ee3643;
}

.social__item--vk .social__link {
  background-image: url(../img/sprite-icon-vk.svg);
  background-position: 8px 12px;
  background-repeat: no-repeat;
}

.social__item--fb .social__link {
  background-image: url(../img/sprite-icon-fb.svg);
  background-position: 14px 9px;
  background-repeat: no-repeat;
}

.social__item--insta .social__link {
  background-image: url(../img/sprite-icon-insta.svg);
  background-position: 10px 9px;
  background-repeat: no-repeat;
}
