.user-nav {
  width: 284px;
  display: flex;
}

.user-nav--inner {
  width: 350px;
  display: flex;
  flex-direction: column;
}

.user-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 68px;
  padding-top: 47px;
  padding-bottom: 66px;
}

.user-nav__list--inner {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 9px;
  margin-left: 68px;
  margin-bottom: 41px;
  position: relative;
}

.user-nav__list--inner::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 90px;
  width: 3px;
  height: 3px;
  background-color: #32425c;
  border-radius: 50%;
}

.user-nav__list--inner li:nth-child(1) {
  margin-right: 32px;
}

.user-nav__profile {
  background-color: #ffffff;
  width: 299px;
  box-sizing: border-box;
  padding-top: 7px;
  padding-bottom: 10px;
  padding-left: 14px;
  padding-right: 10px;
  margin-top: 47px;
  margin-left: 51px;
}

.user-nav__item {
  background-color: #ffffff;
  text-align: center;
  padding-left: 15px;
  padding-top: 12px;
  padding-bottom: 13px;
}

.user-nav__item:nth-child(1) {
  margin-right: 10px;
  padding-right: 25px;
}

.user-nav__item:nth-child(2) {
  padding-left: 25px;
  padding-right: 23px;
}

.user-nav__item:hover .user-nav__link {
  color: #ee3643;
}

.user-nav__item:hover .user-nav__image--login {
  fill: #32425c;
}

.user-nav__item:active .user-nav__link {
  color: rgba(0, 0, 0, 0.3);
}

.user-nav__item:active .user-nav__image--login {
  fill: #c5c5c5;
}

.user-nav__image--login {
  margin-right: 10px;
  fill: #c5c5c5;
}

.user-nav__link {
  text-decoration: none;
  font-size: 21px;
  line-height: 21px;
  color: @dark;
}

.user-nav__name {
  font-size: 21px;
  line-height: 21px;
  color: @dark;
  text-decoration: none;
}

.user-nav__person-icon {
  text-decoration: none;
}

.user-nav__image--user {
  margin-right: 8px;
  margin-top: 2px;
}

.user-nav__list--inner a {
  font-size: 16px;
  color: #32425c;
}

.user-nav__image--logout {
  margin-left: 32px;
  padding-top: 5px;
}
