.user-nav {
  width: 284px;
  display: flex;
}

.user-nav--inner {
  width: 350px;
  display: flex;
  flex-direction: column;
}

.user-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 70px;
  padding-top: 47px;
  padding-bottom: 66px;
  box-sizing: border-box;
}

.user-nav__list--inner {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 7px;
  margin-left: 68px;
  margin-bottom: 41px;
  position: relative;
}

.user-nav__list--inner::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 90px;
  width: 3px;
  height: 3px;
  background-color: #32425c;
  border-radius: 50%;
}

.user-nav__list--inner li:nth-child(1) {
  margin-right: 32px;
}

.user-nav__profile {
  background-color: #ffffff;
  width: 299px;
  box-sizing: border-box;
  padding-top: 7px;
  padding-bottom: 10px;
  padding-left: 14px;
  padding-right: 10px;
  margin-top: 47px;
  margin-left: 51px;
  display: flex;
}

.user-nav--inner .user-nav__profile {
  padding-top: 11px;
  padding-bottom: 10px;
}

.user-nav__item {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.user-nav__item:nth-child(1) {
  margin-right: 10px;
}

.user-nav__text {
  margin-left: 32px;
  margin-top: 3px;
}

.user-nav__link--login {
  width: 121px;
  background-image: url(../img/sprite-icon-login.svg);
  background-position: 14px 12px;
  background-repeat: no-repeat;
}

.user-nav__link--login:hover,
.user-nav__link--login:focus {
  background-image: url(../img/sprite-icon-login-hover.svg);
}

.user-nav__link--login:active {
  background-image: url(../img/sprite-icon-login.svg);
}

.user-nav__item:nth-child(2) .user-nav__link {
  width: 150px;
  padding-top: 11px;
  padding-left: 24px;
}

.user-nav__link {
  text-decoration: none;
  font-size: 21px;
  line-height: 21px;
  color: @dark;
  display: block;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 14px;
}

.user-nav__link:hover,
.user-nav__link:focus {
  color: #ee3643;
}

.user-nav__item:active .user-nav__link {
  color: rgba(0, 0, 0, 0.3);
}

.user-nav__name {
  font-size: 21px;
  line-height: 21px;
  color: @dark;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  width: 200px;
  margin-left: 32px;
  margin-right: 22px;
  padding-bottom: 2px;
}

.user-nav__name:hover,
.user-nav__name:focus {
  color: @dark;
}

.user-nav__name:active {
  color: #c5c5c5;
}

.user-nav__person-icon {
  text-decoration: none;
  position: relative;
}

.user-nav__person-icon::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 18px;
  top: 2px;
  left: 0;
  background-image: url(../img/sprite-icon-user.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.user-nav__person-icon:hover::after,
.user-nav__person-icon:focus::after {
  background-image: url(../img/sprite-icon-user-hover.svg);
}

.user-nav__person-icon:active::after {
  background-image: url(../img/sprite-icon-user.svg);
}

.user-nav__list--inner a {
  font-size: 16px;
  color: #32425c;
}

.user-nav__list--inner a:hover,
.user-nav__list--inner a:focus {
  color: @danger;
}

.user-nav__list--inner a:active {
  color: #c5c5c5;
}

.user-nav__logout-icon {
  position: relative;
}

.user-nav__logout-icon::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 18px;
  top: 2px;
  left: 0;
  background-image: url(../img/sprite-icon-logout.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.user-nav__logout-icon:hover::after,
.user-nav__logout-icon:focus::after {
  background-image: url(../img/sprite-icon-logout-hover.svg);
}

.user-nav__logout-icon:active::after {
  background-image: url(../img/sprite-icon-logout.svg);
}
