.logo {
  width: 220px;
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
  text-decoration: none;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.logo--header {
  padding-top: 12px;
  padding-bottom: 17px;
  padding-left: 55px;
  padding-right: 38px;
}
.logo--footer {
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 41px;
  padding-right: 18px;
}
.logo__text {
  color: #ffffff;
  text-transform: uppercase;
}
.logo--header .logo__text {
  font-size: 24px;
}
.logo--footer .logo__text {
  font-size: 30px;
}
.slider__item--drills {
  background-image: url(../img/slider-drill.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.slider__item--punchers {
  background-image: url(../img/slider-punch.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.promo--materials {
  background-image: url(../img/new-flag.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.product__flag {
  background-image: url(../img/new-flag.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.services__item--delivery {
  background-image: url(../img/lorry.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.services__item--guarantee {
  background-image: url(../img/reward.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.services__item--credit {
  background-image: url(../img/money.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.about-us__item {
  background-image: url(../img/red-dush.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.modal__button-close {
  background-image: url(../img/icon-close.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
