@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/cuprum.woff2") format("woff2"), url("../fonts/cuprum.woff") format("woff");
}
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/cuprumbold.woff2") format("woff2"), url("../fonts/cuprumbold.woff") format("woff");
}
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/cuprumitalic.woff2") format("woff2"), url("../fonts/cuprumitalic.woff") format("woff");
}
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/cuprumbolditalic.woff2") format("woff2"), url("../fonts/cuprumbolditalic.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
}
html,
body {
  min-width: 1200px;
}
body {
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*stylelint-disable*/
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
.logo {
  width: 220px;
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
  text-decoration: none;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.logo--header {
  padding-top: 12px;
  padding-bottom: 17px;
  padding-left: 55px;
  padding-right: 38px;
}
.logo--footer {
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 41px;
  padding-right: 18px;
}
.logo__text {
  color: #ffffff;
  text-transform: uppercase;
}
.logo--header .logo__text {
  font-size: 24px;
  line-height: 24px;
}
.logo--footer .logo__text {
  font-size: 30px;
  line-height: 30px;
}
.slider__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.slider__item--drills {
  width: 620px;
  min-height: 266px;
  background-image: url(../img/slider-drill.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.slider__item--punchers {
  width: 620px;
  min-height: 266px;
  background-image: url(../img/slider-punch.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.slider__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
}
.slider__subtitle {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.promo {
  color: #ffffff;
  width: 300px;
}
.promo__title {
  font-size: 24px;
  line-height: 30px;
}
.promo--materials {
  background-color: #ffbf47;
  background-image: url(../img/new-flag.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  margin-right: 20px;
}
.promo--tools {
  background-color: #3bbce3;
  margin-right: 20px;
}
.promo--equipment {
  background-color: #dc91d8;
}
.promo--sale {
  background-color: #8ed78f;
  margin-bottom: 20px;
}
.promo--delivery {
  background-color: #ffc047;
}
.promo__button {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  text-decoration: none;
}
.product__flag {
  background-image: url(../img/new-flag.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.product__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.product__title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}
.product__price {
  font-weight: 700;
}
.product__price--old {
  color: #a9a9a9;
  text-decoration: line-through;
}
.product__price--new {
  color: #ffffff;
}
.services {
  width: 940px;
  margin: 0 auto;
  padding-top: 67px;
  padding-bottom: 102px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.services__top {
  padding-right: 540px;
}
.services__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.services__item--delivery {
  background-image: url(../img/lorry.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.services__item--guarantee {
  background-image: url(../img/reward.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.services__item--credit {
  background-image: url(../img/money.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.services__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.services__text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}
.services__subtitle {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
}
.services__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.services__button {
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  background-color: #32425c;
  border: none;
}
.services__button--current {
  color: #32425c;
  background-color: #ffffff;
}
.about-us__item {
  background-image: url(../img/red-dush.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.about-us__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
}
.about-us__text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}
.about-us__list {
  list-style: none;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}
.modal {
  font-size: 18px;
}
.modal__button-close {
  background-image: url(../img/icon-close.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.modal__text {
  font-size: 30px;
  line-height: 30px;
}
.page-header {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.page-header__wrapper {
  width: 1200px;
  padding-left: 130px;
  padding-right: 130px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.page-header__wrapper--top {
  background-color: #293449;
}
.page-header__wrapper--top .page-header__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page-header__wrapper--bottom {
  background-color: #f3f7f8;
  padding-bottom: 60px;
}
.page-header__wrapper--bottom .page-header__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.page-header__content-wrapper {
  width: 940px;
  margin: 0 auto;
}
.button {
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 0 ;
  text-align: center;
}
.button--red {
  background-color: #ee3643;
  color: #ffffff;
}
.button--header {
  color: #ffffff;
  width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-transform: none;
}
.button--product-buy {
  background-color: #63a63e;
}
.button--product-bookmarks {
  color: #32425c;
  border: 3px solid #63a63e;
}
.main-nav {
  background-color: #32425c;
  border-bottom: 5px solid #293449;
}
.main-nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-nav__item a {
  text-decoration: none;
  color: #ffffff;
  line-height: 17px;
}
.header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-info__text {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  width: 320px;
  padding-left: 55px;
  padding-right: 70px;
  padding-top: 50px;
  padding-bottom: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header-contacts {
  width: 270px;
  padding-top: 48px;
  padding-bottom: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header-contacts__number {
  text-decoration: none;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}
.header-contacts__adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}
.user-nav {
  width: 270px;
  padding-left: 68px;
  padding-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.user-nav--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.user-nav__list--inner {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.user-nav__list {
  list-style: none;
}
.user-nav__link {
  text-decoration: none;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}
.user-nav__name {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
}
.user-nav__person-icon {
  text-decoration: none;
}
.user-nav__list--inner a {
  font-size: 16px;
  color: #32425c;
}
.dots__list {
  list-style: none;
}
.dots__button {
  border: none;
  width: 10px;
  height: 10px;
  background-image: url(../img/dot.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.dots__button--current {
  background-image: url(../img/dot-indicator.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.arrows__list {
  list-style: none;
}
.arrows__button {
  border: none;
  width: 25px;
  height: 42px;
}
.arrows__button--left {
  background-image: url(../img/icon-left.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.arrows__button--right {
  background-image: url(../img/icon-right.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.popular__top {
  background-color: #f9f5f0;
}
.popular__title {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  margin-left: 28px;
}
.popular__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.popular--products {
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.popular__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.popular--products .button--red,
.popular--brands .button--red {
  width: 253px;
  margin-right: 25px;
}
.page-main,
.page-main__block {
  width: 1200px;
}
.page-main__block {
  padding: 0 130px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.page-main__content-wrapper {
  width: 940px;
  margin: 0 auto;
  padding-top: 78px;
  padding-bottom: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page-main__block-wrapper {
  width: 940px;
  margin: 0 auto;
  padding-top: 60px;
}
.page-main__block--secondary {
  background-color: #f4f7f9;
  padding: 0 130px;
}
.contacts__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
}
.contacts__text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}
.page-footer,
.page-footer__wrapper {
  width: 1200px;
}
.page-footer__wrapper {
  margin: 0 auto;
  padding: 0 130px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #293449;
}
.page-footer__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page-footer__wrapper--bottom p {
  margin: 0;
  padding: 0;
}
.page-footer__wrapper--bottom {
  padding-top: 35px;
  padding-bottom: 28px;
}
.page-footer__wrapper--top {
  background-color: #32425c;
  padding-bottom: 52px;
}
.page-footer__half-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}
.page-footer__contacts {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}
.page-footer__contacts a {
  text-decoration: none;
  color: #ffffff;
}
.page-footer__copyright {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}
.page-footer__mail-box,
.page-footer__developer {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}
.page-footer__email {
  color: #ffd180;
}
.footer-navigation__list {
  list-style: none;
}
.footer-navigation__item a {
  text-decoration: none;
  color: #ffffff;
  line-height: 24px;
}
.footer-navigation__item--secondary a {
  color: #ffd180;
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.bread-crumbs {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}
.bread-crumbs__item a {
  text-decoration: none;
  color: #000000;
}
.bread-crumbs__list {
  list-style: none;
}
.bread-crumbs__item {
  background-image: url(../img/icon-right-small.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.bread-crumbs__item:nth-child(1) {
  background-image: url(../img/icon-home.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.content__title {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  background-color: #f2f6f8;
}
.content__subtitle {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #f7f3ec;
}
.form {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}
.form__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
}
.form__checkbox-title {
  font-size: 15px;
  line-height: 20px;
}
.form__list {
  list-style: none;
}
.form__group {
  border: none;
}
.form__button {
  color: #000000;
  font-size: 13px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}
.form__prise {
  background-color: #f7f3ec;
}
.sorting {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}
.sorting__title {
  background-color: #f7f3ec;
}
.sorting__list {
  list-style: none;
}
.sorting__item a {
  color: rgba(0, 0, 0, 0.3);
  -webkit-text-decoration-color: #ee3643;
          text-decoration-color: #ee3643;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}
.sorting__item .sorting__current {
  color: #ee3643;
  text-decoration: none;
}
.pagination {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}
.pagination__item a {
  text-decoration: none;
  color: #000000;
}
.pagination__list {
  list-style: none;
}
.inner-text__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.inner-text__text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}
.search {
  width: 270px;
}
.promo-bloc {
  padding-bottom: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.promo-bloc__top,
.promo-bloc__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.promo-bloc__top {
  padding-bottom: 20px;
}
.promo-bloc__blocks-bundle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
}
